<app-text-card>
  <h1>{{ 'SHARED.ABOUT.MAIN_TITLE' | translate }}</h1>

  <h2>{{ 'SHARED.ABOUT.TITLE_PROJECT_PURPOSE' | translate }}</h2>
  <p>
    {{ 'SHARED.ABOUT.CONTENT_PROJECT_PURPOSE' | translate }}
  </p>
  <br>
  <h2>{{ 'SHARED.ABOUT.TITLE_MY_ROLE' | translate }}</h2>
  <p>
    {{ 'SHARED.ABOUT.CONTENT_MY_ROLE' | translate }}
  </p>
  <ul>
    <li>
      <strong>{{ 'SHARED.ABOUT.POINTS.APPLICATION_ARCHITECTURE.TITLE' | translate }}</strong>
      {{ 'SHARED.ABOUT.POINTS.APPLICATION_ARCHITECTURE.DESCRIPTION' | translate }}
    </li>
    <li>
      <strong>{{ 'SHARED.ABOUT.POINTS.IMPLEMENTATION_OF_FEATURES.TITLE' | translate }}</strong>
      {{ 'SHARED.ABOUT.POINTS.IMPLEMENTATION_OF_FEATURES.DESCRIPTION' | translate }}
    </li>
    <li>
      <strong>{{ 'SHARED.ABOUT.POINTS.UX_UI_DEVELOPMENT.TITLE' | translate }}</strong>
      {{ 'SHARED.ABOUT.POINTS.UX_UI_DEVELOPMENT.DESCRIPTION' | translate }}
    </li>
    <li>
      <strong>{{ 'SHARED.ABOUT.POINTS.TESTING.TITLE' | translate }}</strong>
      {{ 'SHARED.ABOUT.POINTS.TESTING.DESCRIPTION' | translate }}
    </li>
    <li>
      <strong>{{ 'SHARED.ABOUT.POINTS.DOCUMENTATION.TITLE' | translate }}</strong>
      {{ 'SHARED.ABOUT.POINTS.DOCUMENTATION.DESCRIPTION' | translate }}
    </li>
  </ul>
</app-text-card>
